:root{
    --light : #fff;
    --dark : #000;

}
$clr-light:var(--light);
$clr-dark: var(--dark);


$clr-red: #D9333E;
$clr-dark-yellow: #F6AD49;
$clr-bg: #FDF6EE;
$clr-darker: #433d3c;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";

